boto3==1.35.17
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
pre-commit==3.8.0
alembic==1.13.2
SQLAlchemy==2.0.34
bioc==2.1
psycopg2-binary==2.9.9
langchain-aws==0.2.2
transformers==4.49.0
torch==2.7.1
scikit-learn==1.7.0
pandas==2.2.3
sentencepiece==0.2.1
accelerate==1.10.0
protobuf==6.32.0
PyMuPDF==1.26.4
